.home-container{
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    background: url("/assets/computer.jpg") no-repeat center/cover;
}

.home-data{
    background-color: rgba(0,0,0,.4);
    color: #fff;
}

.user-profile{
    max-width: 800px;
    width: 100%;
    margin: 1rem auto;
}